{% autoescape off %}
<div dir="rtl" style="font-size: 20px; font-weight: bold">
    <h2>
        هشدار:
    </h2>
    <br />
    سلام {{ name }}
    <br /> <br />
    سفارش شما، با شماره سفارش {{ order_key }}
    در مرحله تایید اعتبار با مشکل مواجه شده و به دلیل زیر مردود شد:
    <br> <br/>
    {{ whats_wrong }}
    <br> <br/>
    از لینک زیر می توانید وضعیت سفارش خود را ببینید و مشکل آن را حل کنید:
    <br /> <br />
    <span style="width:100%; text-align:left" dir="ltr">
    https://{{domain}}{% url 'view-order' order_key=order_key %}
    </span>

</div>
{% endautoescape %}
